.button {
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.button--primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-light);
        border-color: var(--color-primary-light);
    }
}

.button--outline {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-primary-light);
    }
}

.button--danger--outline {
    color: var(--color-danger);
    background-color: var(--color-white);
    border-color: var(--color-danger);

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-danger-light);
    }
}

.button--icon-left {
    padding: 4px 8px 4px 0;
}

.button__row {
    display: flex;
    align-items: center;
}

.button-loader {
    display: none;
    width: 24px;
    height: 24px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: button-loader__animation 1s linear infinite;
}

[disabled] > .button-loader {
    display: inline-block;
}

[aria-busy="true"] > .button-loader {
    display: inline-block;
}

@keyframes button-loader__animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
