.landing-page {
    .container--landing-page {
        padding: 96px 24px;
        @media (min-width: 640px) {
            padding: 128px 24px;
        }
        @media (min-width: 1048px) {
            padding: 128px 32px;
        }
    }

    .main--landing-page {
    /*    mx-auto max-w-2xl text-center*/
        margin: 0 auto;
        max-width: 672px;
        text-align: center;
    }

    .title--landing-page {
        font-size: 36px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: -0.025em;
        text-wrap: balance;
        @media(min-width: 640px) {
            font-size: 48px;
        }
    }

    .title--landing-page--react {
        color: oklch(0.546 0.245 262.881);
    }

    .title--landing-page--erb {
        color: oklch(0.577 0.245 27.325);
    }

    .title__ampersand--landing-page {
        margin: 16px 0;
        font-size: 30px;
        color: oklch(0.551 0.027 264.364);
    }

    .link-box--landing-page {
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
    }

    .link-box__link--landing-page {
        font-size: 0.875rem;
        font-weight: 600;
        color: oklch(0.21 0.034 264.665);
    }

    .p--landing-page {
        hyphens: auto;
        text-align: justify;
        margin-top: 24px;
        margin-inline: auto;
        max-width: 576px;
        font-size: 1.125rem;
        line-height: 32px;
        text-wrap: pretty;
        color: oklch(0.446 0.03 256.802);
    }
}
