.login_form {
    margin: 36px auto;
    max-width: 300px;
    padding: 12px;
}

.login_form__header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
}

.login_form__group {
    margin-bottom: 12px;
}

.login_form__label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.login_form__input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    display: block;
}

.login_form__controls {
    text-align: right;
}

.login_form__button--submit {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}

.login_form__button--submit:hover {
    background-color: royalblue;
}
