.technology_switch__btn--react {
    border-radius: 8px;
    background-color: blue;
    font-size: 1.125rem;
    padding: 4px 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 4px;
    right: 8px;
    &:hover {
        opacity: 0.6;
    }
}
