.top_nav {
    padding: 8px 16px;
    border-bottom: solid 2px #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
}

.top_nav__navlink {
    color: var(--color-gray-600);
    font-size: var(--text-xl);
    &.active, &:hover {
        color: var(--color-primary);
    }
}

.top_nav__logo {
    font-size: var(--text-xl);
    :hover {
        opacity: 0.6;
    }
}

.top_nav__profile {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.top_nav__login_button {
    padding: 8px;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.top_nav__login_button:hover {
    background-color: #FFFFFF;
    color: #cccccc;
}

.top_nav__email {
    font-size: var(--text-xs);
    color: var(--color-gray-600);
    font-weight: var(--font-bold);
}

.top_nav__logout_button {
    font-size: 12px;
    padding: 8px;
    background-color: #FFFFFF;
    color: #999999;
    border: solid 1px #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.top_nav__logout_button:hover {
    background-color: #cccccc;
    color: #FFFFFF;
}
